# ignore audio files
*.mp3
*.flac
*.wav
*.m4a

# ignore video files
*.mp4
*.avi
*.mov
*.MOV


# ignore pytorch models
*.pt

# folders for the project
__pycache__/
.conda/
.venv/

# Mac Finder File
.DS_Store
*.DS_Store

# Training and Testing Data
LibriSpeech/

# Secrets
.env
*.sqlite